.businessList{
    .bg-light-gray{

    background-color: rgba(25, 150, 215, 0.28);
    }
    .panel-body{
        height: 100%;
    }
    #collaps0{
        height: 300px;
    }
    #collapseMap ul  {
        height: 300px;

    }
    #collapseMap ul li {
        height: 300px;
        padding: 0;
        border-style: hidden;
    }
}