.businessList{
    .bg-light-gray{

    background-color: rgba(25, 150, 215, 0.28);
    }
    .empty{
        text-align: center;
    }
    .panel-body{
        height: 100%;
    }
    #collaps0{
        height: 300px;
    }
    #collapseMap ul  {
        height: 300px;

    }
    #collapseMap ul li {
        height: 300px;
        padding: 0;
        border-style: hidden;
    }
   
    a.portfolio-link {
    height: 200px;
    width: 100%;
     img{
        height: 100%;
    width: 100%;
    }
}
}