//404
body{
    height:100%;
}
.error-template {
    padding: 100px 15px;
    text-align: center;
    margin-top: 100px;
    }
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
    }
.error-actions .btn { 
    margin-right:10px; 
    }