//404
#errorPage{
    height: 100%;
     background-image: url('http://wallpaperswide.com/download/doctor_office-wallpaper-2560x1440.jpg');
.error-template {
    margin-bottom: 240px;
    margin: 250px;
    text-align: center;
    }
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
    }
.error-actions .btn { 
    margin-right:10px; 
    }
}