.container.owner{
    height: 100vh;
    padding-top: 139px !important;
    a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus{

        background-color:rgba(33, 150, 243, 0.32) !important;
    }
    
    .rbc-calendar{
        display: block;
    }

    .rbc-toolbar > span:nth-child(3){
        button{
          display: none !important;
        }
    }

    .form-horizontal .form-group {
        float: none;
    }
    th input{
        width: 100%;
    }

    h5{
        margin-top: 40px;
    }

    .rbc-month-row {
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex: 100px;
        flex: 100px;
        overflow: hidden;
        height: 100%;
    }

    div#photoDiv {
    text-align: center;
    margin-top: 50px;
    }

    .list-group-item {
    font-size: 20px;
    }
 
    .image {
    height: 200px;
    img{
            height: 189px;
             width: 260px;
    }
    }
    .uploader{
      text-align: -webkit-center;
    }
    .saveImage{
        text-align: center;
        margin-top: 20px;
    }
    #searchList{
            margin-bottom: 40px;
            margin-top: 10px;
            margin-left: 5px;
    }
    padding-top: 100px;
   
    .text-center {
        text-align: center;
        border: 2px solid #1996d7;
        border-radius: 5px;
    }
    .fileInput{
        margin: 15px;
        cursor: pointer;
        width: 90%;
    }
    .active{
        color: red;
    }
    .imgPreview{
        text-align: center;
        height: 140px;

        img{
            width: 100%;
            height: 100%;
        }
    .previewText{
        margin-top: 20px;
        margin-right: 52px;
        }
    }
}