#scrollUp {
 width:125px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	top: 85vh;;
	right:0px;
	display:none;
   .fa-arrow-up{
       font-size: 70px;
			 color: #1996d7
   }
}

#scrollUp:hover {
  cursor:pointer
}